/*全文的字体*/
body {font-family: Consolas,'微软雅黑',sans-serif;}
/*标题颜色采用果园排版的紫红，行前间距各有不同，行后间距与正文相同取3.6px*/
h1{color: maroon; margin-bottom: 3.6px;}
h2{color: maroon; margin-bottom: 3.6px;}
h3{color: maroon; margin-top: 14.4px; margin-bottom: 3.6px;}
h4{color: maroon; margin-top: 3.6px; margin-bottom: 3.6px;}
h5{color: maroon; margin-top: 3.6px; margin-bottom: 3.6px;}
h6{color: maroon; margin-top: 3.6px; margin-bottom: 3.6px;}
/*正文的字号</b>：14px为五号*/
p{font-size: 14px;margin-top: 3.6px; margin-bottom: 3.6px;}
/*表格边框合并为细实线，表内字号与正文取同*/
table {font-size: 14px;border-collapse: collapse;}
table, th, /*单元格边框为1px的黑色细线，边框与文字的横向间距为5.4px*/
td{border: 1px solid black; padding-left: 5.4px; padding-right: 5.4px;}
ul{font-size: 14px; margin-top: 3.6px; margin-bottom: 3.6px;}